{
    "plugins": ["@babel/plugin-transform-classes", "@babel/plugin-transform-modules-commonjs"],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ]
}